* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
}

section {
  display: flex;
  height: 750px;
}

article {
  width: 65%;
  padding: 200px 50px;
}

.intro-text-container {
  text-align: left;
  width: 450px;
  margin: auto;
}

article h1 {
  color: #262626;
  font-size: 60px;
  font-weight: 700;
}

article h5 {
font-size: 24px;
color: #8B919F;
}

article h4 {
  font-size: 24px;
  color: #555555;
  letter-spacing: 2px;
}

.intro-text-container button {
  padding: 20px 60px;
  border: rgb(248,172,89) 1px solid;
  border-radius: 10px;
  color: rgb(248,172,89);
  font-weight: 600;
  font-size: 18px;
  margin-top: 40px;
}

.colored-bg {
  background-color: rgba(248,172,89, .8);
  width: 35%;
}

.experience-container, .skill-container, .works-container {
  padding: 30px 0;
  margin: 0 auto;
}

article h3 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 8px;
  text-align: center;
  line-height: 100px;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  z-index: 5;
}

.section-title-bg {
  height: 180px;
  width: 180px;
  border-radius: 90px;
  background-color: rgba(247,180,50, .2);
  position: absolute;
  top: -45px;
  left: calc(50% - 90px);
}

.content-container {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}

.job-exp-box {
  width: 280px;
  height: 280px;
  border-bottom: #F7B432 solid 6px;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
  padding: 64px 25px;
  box-shadow: 0 0 1em #ececec;
  text-align: left;
  color: #262626;
  border-radius: 6px;
}

.job-container div:nth-child(2) {
  border-bottom: #ed5565 solid 6px;
}

.job-container div:nth-child(3) {
  border-bottom: #23c6c8 solid 6px;
}

.job-exp-box h5 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 10px;
  font-size: 26px;
}

.job-exp-box h6 {
  font-size: 22px;
  font-weight: 600;
}

.job-exp-box p {
  padding-top: 6px;
  font-weight: 600;
}

.article-title {
  height: 100px;
  margin: 110px auto;
  position: relative;
  color: #262626;
}

.skill-container .section-title-bg {
  background-color: rgba(237,85,101, .2)
}

.works-container .section-title-bg {
  background-color: rgba(35,198,200, .2)
}

.skill, .skill-cover  {
  width: 400px;
  height: 266px;
  border-radius: 10px;
  position: relative;
}

.skill-hr {
  background-image: url("/hr-image-ConvertImage.38b86946.png");
}

.skill-programming {
  background-image: url("/programming-image.ef997322.jpg");
}

.skill-cover {
  background-color: rgba(0, 0, 0, .4);
}

.skill p {
  position: absolute;
  z-index: 9;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  padding: 30px 16px;
  text-align: right;
  width: inherit;
  bottom: 0;
}

.works-content {
  margin-top: 110px;
}

.work-image {
  width: 280px;
  height: 180px;
  background: no-repeat;
  border-bottom: 8px #fff solid;
  position: relative;
}

.work-yuanta {
  background-image: url("/yuanta-image.06406267.png");
  background-size: auto 100% ;
  background-position: -30px;
}

.work-forecast {
  background-image: url("/forecast-image.9700a4ef.png");
  background-size: 100% auto ;

}

.work {
  border: 8px #fff solid;
  box-shadow: 0 0 1em #ececec;
}

.work-text {
  height: 90px;
  font-size: 22px;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
}

.work-text p {
  margin: auto;
  color: #262626
}

.work-cover {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  transition: all .3s;
}

.work-cover:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.work-link-bg {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background: #fff;
  position: absolute;
  top: 55px;
  left: 105px;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

.work-image:hover .work-link-bg {
  display: flex;
}



.work-link-image {
  width: 40px;
  height: 40px;
  position: relative;
  background-image: url("/link-solid.a3834907.svg");
}

footer {
  color: #fff;
  background-color: rgba(35,198,200, .7);
  height: 250px;
}

footer p, footer div {
  font-size: 40px;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  padding: 30px 20px;
  line-height: 52px;
}

footer div {
  font-size: 26px;
  text-align: left;
  padding: 0;
  margin: auto;
  width: 450px;
}


/*# sourceMappingURL=/style.e308ff8e.css.map */