@import "./color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  background-color: $light-gray;

  &:nth-child(2n) {
    background-color: $white;
  }
}

article {
  width: 85%;
  padding: 70px 0;

  @media (max-width: 768px) {
    width: 90%;
    padding: 30px 0 60px;
  }
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 120px auto 0;
  max-width: 1000px;

  @media (max-width: 768px) {
    align-items: center;
    margin-top: 85px;
  }

  & > div {
    margin: 0 4px 30px;
  }
}

@import "./components/section-title";
@import "./components/intro";
@import "./components/experience";
@import "./components/skills";
@import "./components/profolio";
@import "./components/footer";
