<section>
  <article class="experience-container">
    <div class="article-title">
      <h3>EXPERIENCE</h3>
    </div>
    <div class="content-container job-container">
      <div class="exp-box">
        <h5>2015</h5>
        <h6>Research Assistant</h6>
        <p>Academia Sinica</p>
      </div>
      <div class="exp-box">
        <h5>2015 - 2019</h5>
        <h6>HR Specialist</h6>
        <p>VMFive Inc.</p>
      </div>
      <div class="exp-box">
        <h5>2019 - present</h5>
        <h6>Software Engineer <br />(Part-time)</h6>
        <p>Tmot Innovation</p>
      </div>
    </div>
  </article>
</section>
