<section>
  <article class="works-container">
    <div class="article-title">
      <h3>PORTFOLIO</h3>
    </div>
    <div class="content-container works-content">
      <div class="work">
        <div class="work-image work-yuanta">
          <a href="https://wencchiu.github.io/yuanta/" target="_blank">
            <div class="work-link-bg">
              <div class="work-link-image"></div>
            </div>
          </a>
        </div>
        <div class="work-text">
          <p>元大人壽壽險活動網站</p>
        </div>
      </div>
      <div class="work">
        <div class="work-image work-forecast">
          <a href="https://wencchiu.github.io/weather-forcast/" target="_blank">
            <div class="work-link-bg">
              <div class="work-link-image"></div>
            </div>
          </a>
        </div>
        <div class="work-text">
          <p>天氣預報網站</p>
        </div>
      </div>
    </div>
  </article>
</section>
